---
//@ts-nocheck
// tjekker ikke for notescript fejl så
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import AboutSection1 from "../components/AboutSection1.astro";
import AboutSection2 from "../components/AboutSection2.astro";
import AboutSection3 from "../components/AboutSection3.astro";
import PictureBanner from "../components/PictureBanner.astro";
import AboutSection4 from "../components/AboutSection4.astro";
import DjPoolLink from "../components/DjPoolLink.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="SoundConnects">
  <main class="grid">
    <Menu color="orange" />
    <AboutSection1 />
    <AboutSection2 />
    <AboutSection3 />
    <PictureBanner />
    <AboutSection4>
      <DjPoolLink h4="JUMP IN" />
    </AboutSection4>
    <Footer background="gray" />
  </main>
</Layout>
