---
//@ts-nocheck
// tjekker ikke for notescript fejl så
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import OpenCallHero from "../components/OpenCallHero.astro";
import OpenCallForm from "../components/OpenCallForm.astro";
import formbg from "../assets/form-bg.webp";
---

<Layout title="SoundConnects">
  <main class="grid">
    <div>
      <img class="img1" src={formbg.src} alt="2 people djing" />
      <img class="img2" src={formbg.src} alt="2 people djing" />
    </div>
    <Menu color="yellow" />
    <OpenCallHero />
    <OpenCallForm />
    <Footer background="gray" />
  </main>
</Layout>

<style>
  div {
    width: 100%;
    height: auto;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/4;
    z-index: -5;
    margin-bottom: -50px;
  }
  img {
    width: 200%;
    object-fit: cover;
    max-height: 790px;
  }

  .img2 {
    rotate: 180deg;
  }
  @media (min-width: 800px) {
    div {
      margin-bottom: -80px;
    }
    img {
      width: 100%;
      object-fit: cover;
      max-height: 800px;
    }
  }
</style>
