---
//@ts-nocheck
// tjekker ikke for notescript fejl så
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import OpenCallHero from "../components/OpenCallHero.astro";
import OpenCallForm from "../components/OpenCallForm.astro";
---

<Layout title="SoundConnects">
  <main class="grid">
    <Menu color="yellow" />
    <OpenCallHero />
    <OpenCallForm />
    <Footer background="gray" />
  </main>
</Layout>
