---
const { djname } = Astro.props;
const { img } = Astro.props;
---

<div class="grid">
  <img src={img} alt="" />
  <h3>{djname}</h3>
</div>

<style>
  div {
    margin-bottom: 10px;
    width: 120px;
    height: auto;
  }
  img {
    grid-column: 1/2;
    grid-row: 1/2;
    aspect-ratio: 3/4;
    object-fit: cover;
    width: 120px;
    height: auto;
  }
  h3 {
    color: var(--yellow);
    font-size: 25px;
    text-transform: uppercase;
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: end;
    margin-bottom: -7px;
  }

  @media (min-width: 800px) {
    div {
      width: 190px;
      height: auto;
    }
    img {
      width: 190px;
      height: auto;
    }
    h3 {
      font-size: 30px;
      margin-bottom: -9px;
    }
  }
  @media (min-width: 1100px) {
    div {
      width: 250px;
      height: auto;
    }
    img {
      width: 250px;
      height: auto;
    }
    h3 {
      font-size: 40px;
      margin-bottom: -11px;
    }
  }
</style>
