---
import logo from "../assets/logo.svg";
import instagramwhite from "../assets/instagram-white.svg";
import facebookwhite from "../assets/facebook-white.svg";
const { background } = Astro.props;
---

<footer class="grid">
  <a class="logo" href="../index">
    <img class="logo" src={logo.src} />
  </a>
  <div class={`background grid ${background}`}>
    <nav>
      <a href="../about">ABOUT</a>
      <a href="../events">EVENTS</a>
      <a href="../dj-pool">DJ POOL</a>
      <a href="../open-call">OPEN DJ CALL</a>
      <a href="">CONTACT</a>
    </nav>
    <div class="flex some">
      <a href="https://www.instagram.com/soundconnects_cph/">
        <img class="icon" src={instagramwhite.src} alt="instagram logo" />
      </a>
      <a href="https://www.facebook.com/SoundConnects/">
        <img class="icon" src={facebookwhite.src} alt="facebook logo" />
      </a>
    </div>
  </div>
</footer>

<style>
  footer {
    width: 100vw;
    height: 190px;
  }
  .logo {
    height: 190px;
    width: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10;
    place-self: end;
  }
  .background {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100vw;
    height: 150px;
    z-index: 1;
    place-self: end;
    grid-template-columns: 130px 80px 1fr;
  }
  .blue {
    background-image: url(../../public/img/blue-texture.webp);
  }
  .gray {
    background-color: var(--gray);
  }
  nav {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left: 20px;
    margin-bottom: 15px;
    align-self: end;
    a {
      font-family: "Jersey 25", monospace;
      font-size: 16px;
      color: var(--white);
      text-decoration: none;
    }
    a:hover {
      color: var(--orange);
    }
    a:visited {
      color: var(--orange);
    }
  }
  .icon {
    width: 25px;
    height: auto;
  }
  .some {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 15px;
    margin-left: 10px;
    gap: 10px;
    align-self: end;
    justify-self: start;
  }
  @media (min-width: 700px) {
    .logo {
      height: 300px;
      width: auto;
      place-self: end;
    }
    .background {
      width: 100vw;
      height: 220px;
      grid-template-columns: 200px 220px 1fr;
    }
    nav {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin: 10px 0 10px 20px;
      a {
        font-size: 30px;
      }
    }
    .icon {
      width: 40px;
      height: auto;
    }
    .some {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-self: center;
      gap: 20px;
    }
  }
</style>
