---
import arrow3 from "../assets/arrow3.svg";
---

<section class="grid">
  <h1 class="h11">OPEN</h1>
  <h1 class="h12">DJ CALL</h1>
  <h2>JUST TYPE IN YOUR INFO</h2>
  <img class="arrow" src={arrow3.src} alt="arrow pointing down" />
</section>

<style>
  section {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    width: 100%;
  }

  h1,
  h2 {
    color: var(--white);
    grid-column: 1/2;
  }
  h1 {
    font-size: 55px;
  }
  .h11 {
    grid-row: 1/2;
    margin-top: 20px;
    justify-self: start;
  }
  .h12 {
    grid-row: 2/3;
    margin-top: 100px;
    justify-self: end;
  }
  h2 {
    font-size: 26px;
    grid-row: 3/4;
    margin-top: 115px;
    justify-self: center;
    align-self: end;
  }
  .arrow {
    height: 50px;
    width: auto;
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center;
    margin-left: 180px;
  }

  @media (min-width: 400px) {
    section {
      padding: 0 10%;
      height: 90vh;
    }
    .h11 {
      grid-row: 1/2;
      margin-top: 150px;
      justify-self: start;
    }
    .h12 {
      grid-row: 2/3;
      margin-top: 0px;
      justify-self: end;
    }
  }
  @media (min-width: 850px) {
    section {
      padding: 0 15%;
      height: 95vh;
    }
    h1 {
      font-size: 85px;
    }
    .h11 {
      margin-top: 50px;
      margin-bottom: -30px;
    }
    h2 {
      font-size: 35px;
    }
  }
</style>
